body {
  background-color: white;
}
.rows {
  display: grid;
  grid-template-columns: repeat(auto);
  grid-template-rows: repeat(auto);
}

.covered {
  background-color: #c0c0c0;
  border-style: solid;
  /* border-color: darkgray; */
  color: #c0c0c0;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

.uncovered {
  background-color: lightgray;
  border-style: solid;
  /* border-color: gray; */
  color: lightgray;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
.maroon {
  color: maroon;
}
.turquoise {
  color: turquoise;
}
.uncovered[buttonvalue="1"]:after {
  color: blue;
}

.piece {
  border-color: white;
  height: 70px;
  width: 70px;
}

button {
  /* display: inline-block; */
  /* text-decoration: none; */
  /* color: #fff; */
  font-weight: 900;
  /* background-color: #538fbe; */
  /* padding: 10px 50px; */
  /* font-size: 12px; */
  /* border: 1px solid gray; */
}